In [1]:
# ==============================================================================
# üö¢ PROJETO TITANIC - PREVIS√ÉO DE SOBREVIV√äNCIA (LOGISTIC REGRESSION)
# ==============================================================================

# ------------------------------------------------------------------------------
# 1. IMPORTA√á√ÉO E CARREGAMENTO
# ------------------------------------------------------------------------------
print("üîÑ Iniciando o projeto...")
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

# Configura√ß√£o para mostrar todas as colunas
pd.set_option('display.max_columns', None)

# Carregar dados do Titanic (Link oficial do Seaborn)
url_dados = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url_dados)

print("‚úÖ Dados carregados! Amostra inicial:")
display(df.head())


# ------------------------------------------------------------------------------
# 2. LIMPEZA DE DADOS (DATA CLEANING)
# ------------------------------------------------------------------------------
print("\nüßπ Realizando limpeza dos dados...")

# Remover colunas com muitos nulos ou in√∫teis para o modelo
colunas_inuteis = ['deck', 'embark_town', 'alive', 'class', 'who', 'adult_male']
# O parametro errors='ignore' evita erro se a coluna j√° n√£o existir
df.drop(colunas_inuteis, axis=1, inplace=True, errors='ignore')

# Preencher Idade (age) com a MEDIANA
mediana_idade = df['age'].median()
df['age'] = df['age'].fillna(mediana_idade)

# Preencher Porto (embarked) com a MODA
moda_porto = df['embarked'].mode()[0]
df['embarked'] = df['embarked'].fillna(moda_porto)

print("Limpeza conclu√≠da! Nulos restantes:", df.isnull().sum().sum())


# ------------------------------------------------------------------------------
# 3. ENGENHARIA DE ATRIBUTOS (ENCODING)
# ------------------------------------------------------------------------------
print("\n‚öôÔ∏è Transformando texto em n√∫meros...")

# One-Hot Encoding para 'sex' e 'embarked'
df = pd.get_dummies(df, columns=['sex', 'embarked'], drop_first=True)

# Transformar True/False em 1/0 para ficar bonito
colunas_bool = ['sex_male', 'embarked_Q', 'embarked_S', 'alone']
df[colunas_bool] = df[colunas_bool].astype(int)

print("Tabela pronta para o modelo:")
display(df.head())


# ------------------------------------------------------------------------------
# 4. DIVIS√ÉO TREINO E TESTE
# ------------------------------------------------------------------------------
print("\n‚úÇÔ∏è Dividindo dados em Treino e Teste...")

X = df.drop('survived', axis=1)
y = df['survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(f" - Linhas para Treino: {X_train.shape[0]}")
print(f" - Linhas para Teste: {X_test.shape[0]}")


# ------------------------------------------------------------------------------
# 5. TREINAMENTO DO MODELO
# ------------------------------------------------------------------------------
print("\nü§ñ Treinando a Intelig√™ncia Artificial...")

modelo_logistico = LogisticRegression(max_iter=1000)
modelo_logistico.fit(X_train, y_train)

print("‚úÖ Modelo treinado com sucesso!")


# ------------------------------------------------------------------------------
# 6. AVALIA√á√ÉO E RESULTADOS
# ------------------------------------------------------------------------------
print("\nüìä Avaliando performance na prova final...")

previsoes = modelo_logistico.predict(X_test)

print("--- Matriz de Confus√£o ---")
print(confusion_matrix(y_test, previsoes))

print("\n--- Relat√≥rio de Classifica√ß√£o ---")
print(classification_report(y_test, previsoes))


# ------------------------------------------------------------------------------
# 7. SIMULA√á√ÉO (O CASO JACK)
# ------------------------------------------------------------------------------
print("\nüîÆ Simulando o destino do Jack...")

dados_jack = {
    'pclass': [3], 'age': [20], 'sibsp': [0], 'parch': [0], 'fare': [7.50],
    'alone': [1], 'sex_male': [1], 'embarked_Q': [0], 'embarked_S': [1]
}

jack_df = pd.DataFrame(dados_jack)
resultado_jack = modelo_logistico.predict(jack_df)

if resultado_jack[0] == 1:
    print("Resultado: Jack SOBREVIVEU! üü¢")
else:
    print("Resultado: Jack MORREU... üî¥")

print("\nüèÅ FIM DO PROJETO üèÅ")

üîÑ Iniciando o projeto...
‚úÖ Dados carregados! Amostra inicial:

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

üßπ Realizando limpeza dos dados...
Limpeza conclu√≠da! Nulos restantes: 0

‚öôÔ∏è Transformando texto em n√∫meros...
Tabela pronta para o modelo:

,survived,pclass,age,sibsp,parch,fare,alone,sex_male,embarked_Q,embarked_S
0,0,3,22.0,1,0,7.2500,0,1,0,1
1,1,1,38.0,1,0,71.2833,0,0,0,0
2,1,3,26.0,0,0,7.9250,1,0,0,1
3,1,1,35.0,1,0,53.1000,0,0,0,1
4,0,3,35.0,0,0,8.0500,1,1,0,1

‚úÇÔ∏è Dividindo dados em Treino e Teste...
 - Linhas para Treino: 623
 - Linhas para Teste: 268

ü§ñ Treinando a Intelig√™ncia Artificial...
‚úÖ Modelo treinado com sucesso!

üìä Avaliando performance na prova final...
--- Matriz de Confus√£o ---
[[136  21]
 [ 31  80]]

--- Relat√≥rio de Classifica√ß√£o ---
              precision    recall  f1-score   support

           0       0.81      0.87      0.84       157
           1       0.79      0.72      0.75       111

    accuracy                           0.81       268
   macro avg       0.80      0.79      0.80       268
weighted avg       0.81      0.81      0.80       268


üîÆ Simulando o destino do Jack...
Resultado: Jack MORREU... üî¥

üèÅ FIM DO PROJETO üèÅ